@model Livraria.Models.LivroViewModel

@{
    ViewBag.Title = "Detalhes";
}

@Html.HiddenFor(model => model.id)
    
        <table class="table">
            
            <tr>
                <td><h3 class="titulo-livro">@Html.DisplayFor(model => model.titulo)</h3></td>
            </tr>
            <tr>
                <td><strong>Autor:</strong> @Html.DisplayFor(model => model.autor)</td>
            </tr>
            <tr>
                <td><strong>Editora:</strong> @Html.DisplayFor(model => model.editora)</td>
            </tr>
            <tr>
                <td><strong>Ano de publicação:</strong> @Html.DisplayFor(model => model.ano)</td>
            </tr>
            <tr>
                <td><strong>Id do livro:</strong> @Html.DisplayFor(model => model.id)</td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Voltar", "Index", new { area="" }, new { @class = "bt-verde" })
                </td>
            </tr> 
           
        </table>
        <br />

        