@model IEnumerable<Livraria.Models.LivroViewModel>

@{
    ViewBag.Title = "Index";
}


    @foreach (var livro in Model)
    {
        <table class="table">
            
            <tr>
                <td><h3 class="titulo-livro">@Html.DisplayFor(modelItem => livro.titulo)</h3></td>
            </tr>
            <tr>
                <td class="autor-livro"><strong>Autor:</strong> @Html.DisplayFor(modelItem => livro.autor)</td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = livro.id }, new { @class = "bt-verde" })
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = livro.id }, new { @class = "bt-verde" })
                </td>
            </tr> 
            <td class="div-id-livro">
                <a href="@Url.Action("Delete", new { id = livro.id })" onclick = "return confirm('Tem certeza que você deseja deletar esse livro?');" >
                    <img class="bt-fechar" src="~/Content/Imagens/bt_deletar.svg" alt="Deletar" />
                </a>
            </td>

        </table>
        <br />
    }
        